* {
  padding: 0%;
  margin: 0%;

}


.container1 {

  height: 500px;
  max-width: 100%;
  border: solid 1px black;
  background-color: rgb(167, 216, 246);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign {
  height: 400px;
  width: 300px;
  border: solid white 1px;
  border-radius: 20px;
  box-shadow: 0px 2px 15px 5px rgb(176, 175, 175);
  background-color: white
}

.sing-up {

  text-align: center;
  margin-top: 20px;
  background-color: white;
}


.name {
  height: 20px;
  width: 210px;
  margin-left: 40px;
  margin-top: 40px;
  padding: 10px;
  border-radius: 40px;
  background-color: rgba(228, 228, 225, 0.603);
  border: none;

}

::placeholder {
  color: black;

}



.email {
  height: 20px;
  width: 210px;
  margin-left: 40px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 40px;
  background-color: rgba(228, 228, 225, 0.603);
  border: none;
}




.password {
  height: 20px;
  width: 210px;
  margin-left: 40px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 40px;
  background-color: rgba(228, 228, 225, 0.603);
  border: none;
}


.sub-btn {
  height: 40px;
  width: 100px;
  margin-left: 100px;
  margin-top: 40px;
  border-radius: 20px;
  color: white;
  background-color: rgb(83, 141, 228);
  border: none;

}

.sub-btn:hover {

  background-color: rgb(18, 155, 247);

}


.home-page {



  max-width: 100%;
  border: solid black 1px;

}

.nav {
  height: 60px;
  width: 100%;
  border-bottom: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(83, 141, 228);
}


.name1 {
  height: 30px;
  width: 100px;

  margin-right: 400px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}



.home1 {
  height: 30px;
  width: 100px;

  margin-right: 350px;
  color: white;


  display: flex;
  align-items: center;
  justify-content: center;
}



.pro {
  height: 50px;
  width: 50px;

  border-radius: 50px;

}


.box-list-table {
  display: flex;

}


.list-box {

  width: 200px;

  background-color: rgb(83, 141, 228);
}


.list {
  height: 80px;
  width: 100%;
  border-bottom: solid white 2px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(83, 141, 228);
}


.about {
  height: 80px;
  width: 100%;
  border-bottom: solid white 2px;
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(83, 141, 228);
}




.contact {
  height: 80px;
  width: 100%;
  border-bottom: solid white 2px;
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(83, 141, 228);
}

.table-1 {
  height: 430px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.table-2 {
  border: solid 1px black;
  width: 400px;
  height: 200px;

}

.table-2 th {
  border: solid black 1px;
  padding: 10px;
  align-items: center;
  background-color: rgb(83, 141, 228);

}

.table-2 td {


  border: solid black 1px;
  padding: 10px;
  align-items: center;



}